.loginSection{
      h1{
        text-align: center;
        font-size: 2em;
        margin-top: 2em;
      }
    .sectionCreateAccount{
      display: flex;
      position: relative;
      flex-direction: column;
      align-items: center;
      margin: 2em;
      ::after{
        @media (min-width: 365px) {
          content: '\27F6';
        }
        content: '';
        margin-left: 0,5em;
      }
      .createAccount{
        @media (min-width: 365px) {
          font-size: 1em;
        }
      font-size: 0.8em;
      margin-top: 4em;
      font-weight: 400;
      text-decoration: none;
      color:  rgb(70, 69, 69);
      }
    }
}  